:root{
    --main--bg-color: #56ab2f;  /* fallback for old browsers */
    --main-gw-background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    --main-gl-background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
*{
    margin:0;
    padding: 0;
    font-family: robotmedium;
}
body{
    background-image: url(../pictures/background.png);
    overflow-x: hidden;
}
header{
    text-align: center;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 11111111;
    
}

main
{
margin-top: 120px;

}
#container-green{
    border-radius: 0 0 20px 20px;
    background-color: var(  --main--bg-color);
    background: var(     --main-gw-background);
    background: var(   --main-gl-background);
    box-shadow: #56ab2f 0 0 20px -1px;
    width:94vw;
    padding: 5px;
    margin: 0 auto;
    height: 50px;
    display: grid;
 

  grid-template-columns: repeat(8,1fr);
    grid-template-areas:
      "logo   search search   icons icons . . price ";
}
#logo-container{
    grid-area:logo;
}
#container-search{
    position: relative;
    grid-area:search;
    margin: 4px 0;
}
#container-icon{
    grid-area:icons;
    margin: 2px 0;
    display: flex;
}
.icon-nav{
    height: 40px;
}
#price-box{
    grid-area:price;
    background-color:white;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    margin:6px 0;
    text-align: center;
position: relative;
box-shadow: #2c760a 0 0 20px -1px;

}
#price-icon{
    left:2px;
    top:2px;
    position: absolute;
}
#price-dh{
color:#56ab2f;
left:50px;   
 top:8px;

    position: absolute;
}
#search-box{
    box-shadow: #408c1d 0 0 20px -1px;

    position: relative;
    border:2px solid #56ab2f;
    border-radius:20px;
    outline: none;
    width:95%;
    height:35px;
    
    cursor:text;
    padding: 0 0 0 10px;
    color:green;
    font-family: robotbold;
}
#search-icon{
position: absolute;
top:5px;
right:15px;
cursor: pointer;
grid-area: searchicon;
}

#menu{
    border: 2px solid #56ab2f;
    background-color: rgb(255, 255, 255);
    width: 90vw;
    margin: auto;
    border-radius: 0 0 30px 30px;
    text-align: center;
}
#menu-2{
    display: flex;
   /* grid-template-columns:1fr 1fr 1fr 1fr;*/
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
}
#menu-2 div{
    width: 20vw;
    display: flex;
}

#menu-2 div img{
width:50px;
height: 50px;
}
    #menu-2 div a{
    text-decoration: none;
padding:5px 8px;
color:white;
margin:  auto;
width: 100vw;
border-radius: 40px;

}
#bleu-nav{
    background-color: rgb(2 126 193);

}

#move-nav{
    background-color: rgba(141, 0, 148, 0.966);
}

#gre-nav{
    background-color: rgb(37, 189, 7);

}

#green-nav{
    background-color: rgb(21, 128, 7);


}
#welcome-head{
    margin:20px 0;
    background-color: #56ab2f;
    position: relative;
    height: 80px;
    background-color: var(  --main--bg-color);
    background: var(     --main-gw-background);
    background: var(   --main-gl-background);
    box-shadow: #56ab2f 0 0 20px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:#2c760a solid 2px;
    border-bottom:#2c760a solid 2px;
    font-size: 18px;
}
#welcome-head img{
margin:0 20px;
width: 40px;
height: 60px;
}
#welcome-head h1{
    color:white;
}


#conatiner-khmissa-cat{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin:10px auto  40px;
}

.box-cat{
width:50vw;

min-width: 200px;
height:45vh;
border-radius: 10px;
margin:20px 30px 30px;
position: relative;
cursor: pointer;

}
.khmissamarket-cat{
    cursor: pointer;
    width:120%;
    height:120%;
    position: absolute;
    top:-20px;
    left:-10px;
}
    


#container-bottom-home{
height: 20px;
display: flex;
text-align: center;
align-items: center;
justify-content: center;
border-top: #2c760a solid 10px;
padding:30px 0 0 0 ;
position: relative;
}

#container-bottom-home img{
    position: absolute;
    height: 150px;
    width: 150px;
    top:-100px;
}
#container-bottom-home p{
color:#12a712;
font-size: 18px;
}
#container-bottom-home #handleft{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 8%;
    transform: rotate(-0.06turn);

}
#container-bottom-home #handright{
    position: absolute;
    height: 150px;
    width: 150px;
    right: 8%;
    transform: rotate(0.06turn);

    
}
#bottom-box-home{
    width:90%;
    height: 40px;
    background-color: #3b9746;
    margin:20px auto 0;   
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    position: relative;
}
#bottom-box-home span{
    width:80px;
    height: 10px;
    background-color: #e9e9e9;
    position: absolute;
    top:10px;
    border-radius: 20px;
    }

/*-----------------------------PAGE 2---------------------------*/
#container-catalog #welcome-head{
margin:200px auto 0;
}
#container-catalog{
position: relative;
width: 100%;
height:75vh;
margin:50px auto 0;
}
#backimg-cata{
position: absolute;
right:0%;
top:-20%;
height: 100%;
z-index: 1;

}
#backimg-cata-bg{
    position: absolute;
    height: 100%;
width: 30%;
right:5%;

}
#container-catalog-back{
    background-image: url(../pictures/backcat2.png);
    background-position:90%;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    /*margin:100px 0 0 0;-*/
    position: relative;    
}


#conatianer-cat-title{
    background-color: #59b359;
    color:white;
    padding:5px 10px;
    position: absolute;
    border-radius: 20px;
    top:8%;
    left:15%;
}
#conatianer-cat{
    text-align: center;
    position: absolute;
    top:18%;
    left:15%;
    background-color: rgb(86, 180, 86,0.5);
    width: 220px;
   height: 210px;
   border-radius: 20px;
}
#conatianer-cat-img{
    width: 80%;
    height: 100%;
}
#container-div-cat{
    width: 100%;
    height: 110px;
    background-image: linear-gradient(to right, #ffffff, #f0f3f5, #dfe8e9, #d2dcd8, #cbcfc4);    position: absolute;
    bottom:20px;
    z-index: 1111;

}
#container-box-catalog{
display: flex;
justify-content: space-around;
margin:0 auto;
width: 80%;
}
#handleft-box{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 2%;
    transform: rotate(-0.06turn);

    top:10px;
}
#handright-box{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 2%;
    transform: rotate(0.06turn);
        top:10px;

}
.box-catalog{
    width:  220px;
    height: 150px;
    margin:-15px 0 10px 0;
    border-radius: 10px;
    position: relative;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left:25%;
    top:-25%;
    border:solid 5px #0e6fd8;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
}
.circle img{
width: 60%;
margin:10px 0;
}
#box-blue-cat{
    background-color: #0e6fd8;

}
#box-move-cat{
    background-color: #aa3a97;

}
#box-green-cat{
    background-color: #2d770a;

}
#circle-move{
    border:solid 5px #aa3a97;

}
#circle-green{
    border:solid 5px  #2d770a;
 }

.info-cataloge{
    color:white;
    margin:60px auto 0px;
    font-size: 10px;
    text-align: center;
    width: 80%;
}
.info-cataloge h3{
    font-size: 16px;
    margin:0 0 5px;
}
container-catalog #bottom-box-home{
    
    width:90%;
    height: 40px;
    background-color: #3b9746;
    margin:-50px auto 0;   
    border-radius: 20px 20px 0 0 ;
    text-align: center;
    position: relative;
}
/*-----------------PAGE3-------------------*/
#NextProduct,#PrevProduct{
position: absolute;
outline: none;
border: none;
background-color: transparent;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
background-image: url(../pictures/next-1.png);
width: 80px;
height: 80px;
}
#NextProduct{
    right: -100px;
    z-index: 11111;
    top:50%;
    background-image: url(../pictures/next-1.png);

}
#PrevProduct{
top:50%;
left: -100px;
background-image: url(../pictures/last-1.png);
z-index: 11111;
}

#container-slider-offre{
    background-color: rgb(89, 179, 89,0.5);
    height: 300px;
    border:2px solid #058a27;
    border-radius: 20px;
    width: 60%;
    margin:20px auto;
    position: relative;

}
#container-offre{
    margin:10px auto;
}
#container-offre #welcome-head h1{
    font-size: 16px;
    

}
#container-offre #welcome-head #bien-banner{
    height: 50px;
}

#container-offre #welcome-head{
    margin:50px auto 0;
    }
    #container-cata-digitale #welcome-head{
        margin:200px auto ;
        }
  
#carouselExampleControls{
    display: none;
}
.content-offre{
 position: relative;
 display: grid;
 grid-template-columns: 0.3fr 1fr;
}
.content-offre img{
    height: 100%;
    width: 100%;
}

#text-container-offre{
 color:white;
    height: 100%;
    text-align: center;

}
#text-container-offre #titre-promo{
font-size: 1.9em;
font-family: Montserratregular;
font-weight: bold;
margin:10px auto;
}
#text-container-offre #promotion{
    background-color: #2d770a;
    margin:10px auto;
    width: fit-content;
    font-size: 14px;
    padding:5px  10px;
    border-radius: 30px;
    text-align: center;
}
#text-container-offre #description{
    font-size: 10px;
    text-align: justify;
    padding:10px;

}
/*
#text-container-offre #bottom-content-offre{
background-color: white;
height: 25%;
width: 90%;
display: flex;
justify-content: space-between;
color:#14ce42;
border: solid 2px #14ce42;
border-radius: 10px;
position: relative;
margin: 10px;
}*/
#bottom-content-offre{
    height: 100px;
    width: 100%;
    position: relative;
    margin: 5px auto;
    }
#text-container-offre #price-offre{
width:60%;
height: 70%;
}
#text-container-offre #cents,#dh{
    font-size: 20px;
}
#text-container-offre  #dh{
    position:absolute;
    top:25%;
    left:26%;
}
#text-container-offre #ajouterpanier-btn{
    outline: solid 1px #14ce42 ;
    border: solid 5px white;
    background-color: #14ce42;
    width: 200px;
    height: 40px;
    color:white;
    cursor: pointer;
    border-radius: 20px;
    margin:5px 0;
}
#container-tous-prod-bottom{
position: relative;
width: 400px;
height: 80px;
background-color: #14ce42;
border-radius: 50px;
margin:20px auto;
text-align: center;
padding:20px 0;
}
#container-tous-prod-bottom #tous-prod-btn{
    outline: solid 1px #14ce42 ;
    border: solid 5px white;
    background-color: white;
    width: 300px;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    color:#04641c;
    text-decoration:underline;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;

}
#container-tous-prod-bottom img{
width:40px;
height: 40px;
vertical-align: middle;
cursor: pointer;
}
#handleft-offre,#handright-offre{
    position: absolute;
    width: 150px;
    height: 150px;
    

}
#handright-offre{
    right:-10%;
    bottom: -130px;
    transform: rotate(0.06turn);

}
#handleft-offre{
    left:-10%;
    bottom: -130px;
    transform: rotate(-0.06turn);

}
#container-savoir{
    margin:0 auto;
}
/*------------------------------------------------Please Don't touch this -----------------------------------------------------------------------------------------*/
/*------------------Cataloge Slider--------------------------------------*/
[data-am-fadeshow] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 155, 52,0.5);
    border-radius: 20px;
   /* Slides */
   /* Quick Navigation */
   /* Prev/Next Navigation */
   /* Base functionality */
   /* Autohide Prev/Next Navigation */
}
[data-am-fadeshow] .fs-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
   /* Display first child on load */
}
[data-am-fadeshow] .fs-slide:first-child {
    opacity: 1;
}
[data-am-fadeshow] .fs-quick-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
[data-am-fadeshow] .fs-quick-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    background-color: rgba(255, 255, 255, 0.8);
   /* Set active state to first button on load */
}
[data-am-fadeshow] .fs-quick-btn:hover {
    opacity: 0.8;
}
[data-am-fadeshow] .fs-quick-btn:first-child {
    background-color: coral;
}
[data-am-fadeshow] .fs-prev-btn, [data-am-fadeshow] .fs-next-btn {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    width: 100px;
    cursor: pointer;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-prev-btn, [data-am-fadeshow] .fs-next-btn {
        width: 50%;
   }
}
[data-am-fadeshow] .fs-prev-btn:before, [data-am-fadeshow] .fs-next-btn:before {
    position: absolute;
    top: 50%;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.5);
}
[data-am-fadeshow] .fs-prev-btn:hover, [data-am-fadeshow] .fs-next-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-prev-btn:hover, [data-am-fadeshow] .fs-next-btn:hover {
        background-color: rgba(255, 255, 255, 0);
   }
}
[data-am-fadeshow] .fs-prev-btn {
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
[data-am-fadeshow] .fs-prev-btn:before {
    content: "❮";
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-prev-btn:before {
        left: 30px;
   }
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-prev-btn {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
   }
}
[data-am-fadeshow] .fs-next-btn {
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
[data-am-fadeshow] .fs-next-btn:before {
    content: "❯";
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-next-btn:before {
        right: 30px;
   }
}
@media (max-width: 500px) {
    [data-am-fadeshow] .fs-next-btn {
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
   }
}
[data-am-fadeshow] input[type="radio"] {
    position: fixed;
    top: -9999px;
}
[data-am-fadeshow] input[type="radio"]:checked {
   /* This loop handles the slide switching and quick navigation active state */
   /* Show slide */
   /* Show slide */
   /* Show slide */
   /* Show slide */
   /* Show slide */
   /* Hide navigation if only one slide */
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) {
   /* Add active state to dot */
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-slides .fs-slide:nth-child(5) {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn {
    background-color: rgba(255, 255, 255, 0.8);
   /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5) {
    background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(5) ~ .fs-quick-nav .fs-quick-btn:nth-child(5):hover {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) {
   /* Add active state to dot */
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-slides .fs-slide:nth-child(4) {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn {
    background-color: rgba(255, 255, 255, 0.8);
   /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
    background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(4) ~ .fs-quick-nav .fs-quick-btn:nth-child(4):hover {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) {
   /* Add active state to dot */
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-slides .fs-slide:nth-child(3) {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn {
    background-color: rgba(255, 255, 255, 0.8);
   /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
    background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(3) ~ .fs-quick-nav .fs-quick-btn:nth-child(3):hover {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-slides .fs-slide:nth-child(2) {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn {
    background-color: rgba(255, 255, 255, 0.8);
   /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
    background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(2) ~ .fs-quick-nav .fs-quick-btn:nth-child(2):hover {
    opacity: 1;
}

[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide {
    opacity: 0;
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-slides .fs-slide:nth-child(1) {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn {
    background-color: rgba(255, 255, 255, 0.8);
   /* Cancel autoplay */
    -webkit-animation: none !important;
    animation: none !important;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
    background-color: coral;
}
[data-am-fadeshow] input[type="radio"]:checked:nth-of-type(1) ~ .fs-quick-nav .fs-quick-btn:nth-child(1):hover {
    opacity: 1;
}
[data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-quick-nav, [data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-prev-nav, [data-am-fadeshow] input[type="radio"]:checked:first-of-type:last-of-type ~ .fs-next-nav {
    display: none !important;
}
[data-am-fadeshow]:hover .fs-prev-btn, [data-am-fadeshow]:hover .fs-next-btn {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
/* * ===== PREV/NEXT NAVIGATION ===== * * This section handles the prev/next navigation. */
/* Handle Prev/Next buttons */
[data-am-fadeshow~="next-prev-navigation"] {
   /* Display first pair of Prev/Next Buttons on load */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) {
   /* Show previous button */
   /* Show next button */
   /* Show last prev button if first slide */
   /* Show first next button if last slide */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) ~ .fs-prev-nav .fs-prev-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5) ~ .fs-prev-nav .fs-prev-btn:nth-child(4) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(5):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) {
   /* Show previous button */
   /* Show next button */
   /* Show last prev button if first slide */
   /* Show first next button if last slide */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-prev-nav .fs-prev-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-prev-nav .fs-prev-btn:nth-child(3) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-next-nav .fs-next-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4) ~ .fs-next-nav .fs-next-btn:nth-child(5) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(4):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) {
   /* Show previous button */
   /* Show next button */
   /* Show last prev button if first slide */
   /* Show first next button if last slide */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-prev-nav .fs-prev-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-prev-nav .fs-prev-btn:nth-child(2) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-next-nav .fs-next-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3) ~ .fs-next-nav .fs-next-btn:nth-child(4) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(3):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) {
   /* Show previous button */
   /* Show next button */
   /* Show last prev button if first slide */
   /* Show first next button if last slide */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-prev-nav .fs-prev-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-prev-nav .fs-prev-btn:nth-child(1) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-next-nav .fs-next-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2) ~ .fs-next-nav .fs-next-btn:nth-child(3) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(2):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) {
   /* Show previous button */
   /* Show next button */
   /* Show last prev button if first slide */
   /* Show first next button if last slide */
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) ~ .fs-next-nav .fs-next-btn {
    display: none;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1) ~ .fs-next-nav .fs-next-btn:nth-child(2) {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1):first-of-type ~ .fs-prev-nav .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] input[type="radio"]:checked:nth-of-type(1):last-of-type ~ .fs-next-nav .fs-next-btn:first-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-prev-btn:last-child {
    display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-next-btn:nth-child(2) {
    display: block;
}
/* * ===== AUTOPLAY ===== * * Functions to handle autoplay. * If you're not going to use autoplay, set $autoplay to false. * This part tends to compile into a lot of uneccesary CSS otherwise. */
@keyframes quickNavAnimation-5 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    4%, 20% {
        background-color: coral;
   }
    24%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@-webkit-keyframes quickNavAnimation-5 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    4%, 20% {
        background-color: coral;
   }
    24%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@keyframes slidesAnimation-5 {
    0% {
        opacity: 0;
   }
    4%, 20% {
        opacity: 1;
   }
    24%, 100% {
        opacity: 0;
   }
}
@-webkit-keyframes slidesAnimation-5 {
    0% {
        opacity: 0;
   }
    4%, 20% {
        opacity: 1;
   }
    24%, 100% {
        opacity: 0;
   }
}
[data-am-fadeshow~="autoplay"] {
   /* Slide animation */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type {
   /* Quick navigation animation */
   /* Animation Delay */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide {
    -webkit-animation: slidesAnimation-5 25s infinite;
    animation: slidesAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn {
    -webkit-animation: quickNavAnimation-5 25s infinite;
    animation: quickNavAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(1), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(2), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(3), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(4), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-slides .fs-slide:nth-child(5), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(5):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(5) {
    -webkit-animation-delay: 19s;
    animation-delay: 19s;
}
@keyframes quickNavAnimation-4 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    5%, 25% {
        background-color: coral;
   }
    30%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@-webkit-keyframes quickNavAnimation-4 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    5%, 25% {
        background-color: coral;
   }
    30%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@keyframes slidesAnimation-4 {
    0% {
        opacity: 0;
   }
    5%, 25% {
        opacity: 1;
   }
    30%, 100% {
        opacity: 0;
   }
}
@-webkit-keyframes slidesAnimation-4 {
    0% {
        opacity: 0;
   }
    5%, 25% {
        opacity: 1;
   }
    30%, 100% {
        opacity: 0;
   }
}
[data-am-fadeshow~="autoplay"] {
   /* Slide animation */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type {
   /* Quick navigation animation */
   /* Animation Delay */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide {
    -webkit-animation: slidesAnimation-4 20s infinite;
    animation: slidesAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn {
    -webkit-animation: quickNavAnimation-4 20s infinite;
    animation: quickNavAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(1), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(2), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(3), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-slides .fs-slide:nth-child(4), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(4):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(4) {
    -webkit-animation-delay: 14s;
    animation-delay: 14s;
}
@keyframes quickNavAnimation-3 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    6.6666666667%, 33.3333333333% {
        background-color: coral;
   }
    40%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@-webkit-keyframes quickNavAnimation-3 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    6.6666666667%, 33.3333333333% {
        background-color: coral;
   }
    40%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@keyframes slidesAnimation-3 {
    0% {
        opacity: 0;
   }
    6.6666666667%, 33.3333333333% {
        opacity: 1;
   }
    40%, 100% {
        opacity: 0;
   }
}
@-webkit-keyframes slidesAnimation-3 {
    0% {
        opacity: 0;
   }
    6.6666666667%, 33.3333333333% {
        opacity: 1;
   }
    40%, 100% {
        opacity: 0;
   }
}
[data-am-fadeshow~="autoplay"] {
   /* Slide animation */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type {
   /* Quick navigation animation */
   /* Animation Delay */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide {
    -webkit-animation: slidesAnimation-3 15s infinite;
    animation: slidesAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn {
    -webkit-animation: quickNavAnimation-3 15s infinite;
    animation: quickNavAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(1), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(2), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-slides .fs-slide:nth-child(3), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(3):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(3) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}
@keyframes quickNavAnimation-2 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    10%, 50% {
        background-color: coral;
   }
    60%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@-webkit-keyframes quickNavAnimation-2 {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
   }
    10%, 50% {
        background-color: coral;
   }
    60%, 100% {
        background-color: rgba(255, 255, 255, 0.8);
   }
}
@keyframes slidesAnimation-2 {
    0% {
        opacity: 0;
   }
    10%, 50% {
        opacity: 1;
   }
    60%, 100% {
        opacity: 0;
   }
}
@-webkit-keyframes slidesAnimation-2 {
    0% {
        opacity: 0;
   }
    10%, 50% {
        opacity: 1;
   }
    60%, 100% {
        opacity: 0;
   }
}
[data-am-fadeshow~="autoplay"] {
   /* Slide animation */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type {
   /* Quick navigation animation */
   /* Animation Delay */
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide {
    -webkit-animation: slidesAnimation-2 10s infinite;
    animation: slidesAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn {
    -webkit-animation: quickNavAnimation-2 10s infinite;
    animation: quickNavAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide:nth-child(1), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-slides .fs-slide:nth-child(2), [data-am-fadeshow~="autoplay"] input[type="radio"]:nth-of-type(2):last-of-type ~ .fs-quick-nav .fs-quick-btn:nth-child(2) {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
/* Base Styling */
#backslider .container {
    position: absolute;
    z-index: 1111;
    top:8%;
right:-20%;
width: 300px;
height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#backslider{
position: absolute;
left:55%;
top: 20%;
width: 350px;
height: 440px;
display: flex;
}
#backslider img{
    margin:25% 20px;
    width: 300px;
    height: 250px;
}
.carousel .carousel-control-prev-icon {
    /* change fill="currentColor" to %23fff to make it white  */
      background-image: url(../pictures/last-arrow.png);
    }
    
    .carousel .carousel-control-next-icon {
      /* change fill="currentColor" to %23fff to make it white  */
        background-image: url(../pictures/right-arrow.png);
    }
    
    
    .carousel-control-next-icon, .carousel-control-prev-icon {
        /* Use to adjust size of icons */
        width: 50px !important;
        height: 50px !important;
    }
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#container-cata-digitale{
position: relative;
margin:200px auto 0;
width: 100%;
height: 100vh;
}

#titre-catalogue-digitale-second{
    background-color: rgb(5, 150, 41,0.6);
    border:solid 2px rgb(5, 150, 41);
    border-radius: 20px;
    width: fit-content;
    color:white;
    padding:15px 40px;
    margin:-150px 0 0 100px;
    font-size: 30px;
    text-align: center;
}
#info-digital{
    position: absolute;
    width: 598px;
    height: 150px;
    left: 45px;
    top: 196px;
}
#person-digital{
    position: absolute;
    width: 576px;
    height: 237px;
    top: -17px;
        left: 60px;
}




#container-box-avis img{
    height: 100%;
    position: absolute;
    bottom: 0;
    right:-80px;
}
#container-box-avis{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
width: 90%;
height: fit-content;
margin:50px auto 50px;
position: relative;
background-color: rgb(207, 207, 207,0.5);
border: #04641c solid 2px;
color:green;
border-radius: 20px;
padding: 25px;
}
#container-avis #welcome-head{
z-index: 111111;

}
#container-rate{
display: flex;
margin: auto;
}
#container-rate p{
margin: 15px auto;
font-size: 14px;
width: 60%;
}
#girl-side{
display: block;
}

#rate-1{
    z-index: 111111;
    float: center;
    height: 30px;
    margin:75px 10px 0px;
    padding: 2px 15px;
    background-color: #058a27;
    border-radius: 20px;
}

#avis-box{
margin:10px auto;
width:100%;
height: 100px;
border-radius: 10px;
background-color: white;
color:#058a27;
outline: none;
border:solid #058a27 2px;
resize: none;
padding:5px 10px;
}
#container-input-avis{
position: relative;
width:100%;

}
#btn-submit{
position: absolute;
bottom: 20px;
right: 10px;
color:white;
outline: none;
border:none;
background-color:#a8e063;
background-color:  linear-gradient(to right, #a8e063, #56ab2f);
cursor: pointer;
padding: 5px 30px;
border-radius: 20px;
}









#footer-container li{
list-style-type: none;
padding:5px;
}
#footer-container li a{color:white;
}

#footer-container{
    margin:60px auto 0;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    background-color:#56ab2f;
    background-image:  linear-gradient(to right, #a8e063, #56ab2f);
    width: 90%;
    height: fit-content;
    color:white;
    border-radius: 20px 20px 0 0 ;
    padding: 20px;
    position: relative;
}
#footer-container h3{
margin :0  auto 10px ;
}
#footer-container a {
font-size: 14px;
}
#footer-container #cart{
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 10px;
}
#footer-container #playstore img{
    width: 80%;

}

#footer-container #playstore{
    
    position: absolute;
    bottom: 10px;

}

#container-bottom{
    color:#058a27;
    text-align: center;
    margin:20px auto;
}


#handleft-bottom{
position: absolute;
top:-20px;
left: 0;
width: 20%;
transform: rotate(-0.06turn);

}

.carousel-caption {
    position: absolute;
    right: 0% !important;
    top: 10px;
    left: 50% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #0e8121 !important;
    text-align: center;
}
/*------------------STARS"Rate"---------------------------------------*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
    margin: -10px  0;
    
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #fffb00;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #fffb00;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #fffb00;
}

/*-------------------STARS---------------------------------------*/





  

  







#menu-icon{
display: none;
}
#search-pop-up{
    display: none;
}
#search-icon-2{
    display: none;
  
cursor: pointer;
position: absolute;
right: 15%;
top:8px;
}
   
#container-offre .container{
    display: none;
    }
@media screen and (max-width: 900px) {
  
    header{
        text-align: center;
        position:fixed;
        width: 100vw;
        top:0;
        z-index: 11111111;
        
    }
    main
    {
        width: 100vw;
        box-sizing: border-box;
    margin-top: 120px;
    }
    #container-green{
        border-radius: 0 ;
        background-color: var(  --main--bg-color);
        background: var(     --main-gw-background);
        background: var(   --main-gl-background);
        box-shadow: #56ab2f 0 0 20px -1px;
        width: 100vw;
        padding: 0;
        margin: 0 auto;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        text-align: center;
        justify-items: center;
    }
    #logo-container{
        grid-area:logo;
        position: absolute;
        left: -50%;
        right: -50%;
        top:5px;
        }
    #container-search{
        position: relative;
        grid-area:search;
        margin: 4px 0 0 auto;
    }
    #container-icon{
        grid-area:icons;
        margin: 2px 0;
        position: absolute;
        top:80%;
        left:2vw;
        display: none;
    }
    #search-icon-2{
        margin:11px auto;
        display: block;
        z-index: 1111111111;
    }

    .icon-nav{
        height: 40px;
    }
    #price-box{
        grid-area:price;
        background-color:transparent;
        border-radius: 20px;
        box-shadow: none;
        margin:6px 5vw 0 auto;
        text-align: center;
    order:4;
    }
    #price-icon{
        top:12px;
        right:0;
        left:initial;
    }
    #price-dh{
    display: none;
    }
    #logo-icon{
        width: 100%;
        height: 50px;
    }
    #menu-icon{
        display: block;
        margin: auto 3px;
        cursor: pointer;
        width: 30px;
        height:30px;
        z-index: 11111111111111111111111;
    }
    
    #search-box{
        box-shadow: #408c1d 0 0 20px -1px;
        display: none;
        position: relative;
        border:2px solid #56ab2f;
        border-radius:20px;
        outline: none;
        width:95%;
        height:30px;
        margin:px;
        cursor:text;
        padding: 0 0 0 10px;
        color:green;
        font-family: robotbold;
    }
    #search-icon{
    display: block;
    right:10%;
    }
 
    #menu{
        border: 1px solid #56ab2f;
        background-color: rgb(255, 255, 255,0.8);
        box-shadow: #408c1d 0 10px 20px -1px;
        width: 20vw;
        min-width: 250px;
        height: fit-content;
        margin: 0;
        padding: 10px;
        border-radius: 0 0 30px 30px;
        text-align: center;
        display: none;
    
    }
    #menu-2{
        display: flex;
        flex-direction: column;
       /* grid-template-columns:1fr 1fr 1fr 1fr;*/
      justify-content: center;
      justify-self: center;
      justify-items: center;
      text-align: center;
      margin:10px 0 100px;
    }
    #menu-2 div{
        width: 100%;
        display: flex;
    }
    
    #menu-2 div img{
    width:50px;
    height: 50px;
    }
        #menu-2 div a{
        text-decoration: none;
    padding:5px 8px;
    color:white;
    margin:  auto;
    width: 100vw;
    border-radius: 40px;
    
    }
    
    #search-pop-up{
        display: none;
        position: fixed;
        right:0;
        left:0;
        top:0;
        bottom:0;

        height: fit-content;
        width: 100%;
        background:rgb(18, 167, 18,0.5);
        z-index: 11111;
    }
    #search-box-1{
       outline: none;
       border:none;
       width:50vw;
       max-width: 500px;
       min-width: 200px;
       height: 30px;
       border-radius: 20px;
       padding: 0 10px;
       
    }
    #search-icon-1{
        position: absolute;
        top:0;
        left:100%;
        width: 30px;
        height: 30px;
    }
    #container-search{
    display: none;
    }
    
    
    #welcome-head{
        background-color: var(  --main--bg-color);
        background: var(     --main-gw-background);
        background: var(   --main-gl-background);
    
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top:none;
        border-bottom:none;
        width: 100%;
    }
    #welcome-head img{
    margin:0 20px;
    width: 30px;
    height: 40px;
    }
   #welcome-head h1{
    color:white;
        font-size:20px;
    
    }
    #carouselExampleControls{
        display: block;
    }
    
    #conatiner-khmissa-cat{
        display: none;

    }
    
    .box-cat{
    display: flex;
    width:100%;
    max-width: 250px;
    position: relative;
    min-width: 150px;
    height:40vh;
    background-color: #59b359;
    border-radius: 10px;
    border: solid 2px #058a27 ;
    margin:10px auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    }
    #box-reclame{
        background-color: #1478e2;
    border: solid 2px #0a53a0 ;
    }
    #box-market-bg{
    background-image: url(../pictures/khmissa.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width:110%;
    height:110%;
    position: absolute;
    top:-20px;
    left:-20px;
    }
    #box-pro{
        background-color: #b54486;
        border: solid 2px #831d6f ;
    }
    
    
    
    #box-reclame-bg{
        background-image: url(../pictures/reclame.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        width:110%;
        height:110%;
        
        position: absolute;
        top:-20px;
        left:-20px;
        }
        #box-pro-bg{
            background-image: url(../pictures/khmissapro.png);
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: left top;
            width:110%;
    height:110%;
    position: absolute;
    top:-20px;
    left:-20px;
    
            }
    
    .khmissamarket-cat{
        cursor: pointer;
        width:50%;
        height: 15%;;
        position: absolute;
        top:76%;
        left:25%;
    }
        
    
    
    
    #container-catalog{
        position: relative;
        width: 100%;
        height:75vh;
        margin:0 auto 350px;
        }
        #backimg-cata{
      display: none;
        
        }
        #backimg-cata-bg{
           display: none;
        
        }
        #container-catalog-back{
            background-image: none;
            width: 100%;
            height: 70vh;
            /*margin:100px 0 0 0;-*/
            position: relative;    
        }
        
        
        #conatianer-cat-title{
            background-color: #59b359;
            color:white;
            width: 100%;
            border-radius: 0;
            
            padding:20px 30px;
            margin:20px auto;
            position: relative;
           text-align: center;  
            top: 0%; 
            left: 0%;
         }
        #conatianer-cat{
            display: none;
            text-align: center;
            position: relative;
            width: 50%;
            height:300px;
            background-color: rgb(86, 180, 86,0.5);
            top:-5%;
            left:25%;
            margin:20px 0;
           border-radius: 20px;
        }
        #conatianer-cat-img{
            width: 90%;
            height: 100%;
        }
        #container-div-cat{
            width: 100%;
            height: 110px;
            background-image: none;
            bottom:0px;
            z-index: 1111;
        
        }
        #container-box-catalog{
        display: flex;
        flex-direction: column;
        margin:-300px auto;
        padding: 20px;
        width: 80%;
        }
        .box-catalog{
            width:  80%;
            height: 150px;
            margin:0px auto;
            border-radius: 10px;
            position: relative;
        }
        #handleft-box{
            display: none;
    
        }
        #handright-box{
          display: none;
        
        }
        .box-catalog{
            width:  220px;
            height: 200px;
            margin:10px auto;
            border-radius: 10px;
            position: relative;
        }
        .circle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left:60px;
            top:-15%;
            border:solid 5px #0e6fd8;
            background-color: #ffffff;
            position: absolute;
            text-align: center;
        }
     
        .info-cataloge{
            color:white;
            margin:80px auto 0px;
            font-size: 10;
            padding: 5px;
            text-align: center;
            width: 80%;
        }
        .info-cataloge h3{
            font-size: 16px;
            margin:0 0 5px;
        }
        container-catalog #bottom-box-home{
            
            width:90%;
            height: 40px;
            background-color: #3b9746;
            margin:0px auto 0;   
            border-radius: 20px 20px 0 0 ;
            text-align: center;
            position: relative;
        }
    
    
    
    
    
    
    
    
    
    #container-bottom-home{
    display: none;
    }
    
        #footer-container{
            margin:60px auto 0;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            text-align: center;
            grid-gap: 30px 0;
            background-color:#56ab2f;
            background-image:  linear-gradient(to right, #a8e063, #56ab2f);
            width: 100vw;
            box-sizing: border-box;
            color:white;
            border-radius:  0 0 ;
            position: relative;
            overflow: hidden;
            padding:0 0 150px;
        }
        #handleft-bottom{
            display: none;
        }
        #footer-container #playstore img{
            width: 140px;
            height: 40px;
        }
        #footer-container #playstore{
            margin:100px auto;
            display: grid;
            grid-template-columns: 1fr ;
            position: absolute;
            right:  -50%;
            left:-50%;
            grid-gap: 5px;
            
        }
        #footer-container #cart{
            position: absolute;
            right: 25%;
        
        }

        #container-slider-offre p{
            display: none;
        }

#container-slider-offre{
    display: grid;

    background-color: rgb(89, 179, 89,0.5);
    height:fit-content;
    border:2px solid #058a27;
    border-radius: 20px;
    width: 80%;
    margin:80px auto 20px;
    position: relative;
            text-align: center;
            }
    
.content-offre{
    position: relative;
    display: grid;
    grid-template-columns:1fr ;
    margin: 0 auto;
   }
   #text-container-offre #price-offre{
    width:80%;
    height: 60px;
    }
   .content-offre img{
       height: 240px;
       width: 200px;
       margin:0px auto;
   }
   #container-offre{
    position: relative;
    margin:-100px auto ;
    height: 80%;
    padding:50px 0;
}
   #text-container-offre{
    color:white;
       height: 100%;
       text-align: center;
   
   }
   #text-container-offre #titre-promo{
   font-size: 1.2em;
   font-family: Montserratregular;
   font-weight: bold;
   margin:10px auto;
   }
   #text-container-offre #promotion{
       background-color: #2d770a;
       margin:10px auto;
       width: fit-content;
       font-size: 10px;
       padding:5px  10px;
       border-radius: 30px;
       text-align: center;
   }
   #text-container-offre #description{
       font-size: 10px;
       text-align: justify;
       padding:10px;
   
   }
   #handright-offre,#handleft-offre,#PrevProduct,#NextProduct{
    display: none;
   }
   #container-tous-prod-bottom{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border-radius: 0px;
    margin:0 auto;
    text-align: center;
    }
    #container-tous-prod-bottom img{
        width:40px;
        height: 40px;
        vertical-align: middle;
        cursor: pointer;
        }
   #container-tous-prod-bottom #tous-prod-btn{
    outline: solid 1px #14ce42 ;
    border: solid 5px white;
    background-color: white;
    width: 60%;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    color:#04641c;
    text-decoration:underline;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle;

}



#container-cata-digitale{
    position: relative;
    margin:-100px auto 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    }
    #container-cata-digitale #welcome-head{
        margin:0 auto 0;
        }
    
        #backslider .container {
    position: relative;
    z-index: 1111;
    top:auto;
    margin:auto;
right:auto;
width: 100%;
height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
#backslider{
    position: relative;
    left:inherit;
    top:50%;
    width: 80%;
    height: 440px;
    padding: 20PX;
    display: block;
    margin:-150px auto 20px;
    }
    #backslider img{
        
        display: none;

    }
    #titre-catalogue-digitale-second{
        background-color: rgb(5, 150, 41,0.6);
        border:solid 2px rgb(5, 150, 41);
        border-radius: 20px;
        width: fit-content;
        color:white;
        padding:10px;
        margin:20px auto;
        font-size: 18px;
        text-align: center;
    }
    #info-digital{
        position: relative;
        width: 80%;
        height: 150px;
        display: none;
        text-align: center;
        margin: auto;
    }
    #person-digital{
        width: 80%;
        height: 237px;
        display: none;
            margin: auto;

    }

 
    #container-avis #welcome-head{

    margin:0 auto;
    }
#container-box-avis{
    width: 80%;
    grid-template-columns: 1fr ;

    height: fit-content;
    margin:50px auto 50px;
    position: relative;
    background-color: rgb(207, 207, 207,0.5);
    border: #04641c solid 2px;
color:green;
border-radius: 20px;
padding: 25px;
text-align: center;
}
#container-avis #welcome-head{
    z-index: 111111;
    margin:-10px auto 0;

}
#container-rate{
display: block;
margin: auto;
}
#container-rate p{
    margin: 15px auto;
    font-size: 14px;
}
#girl-side{
 display: none;
}
#container-avis{
    position: relative;
    margin:150px auto 0;

}
#rate-1{
    position: relative;
    height: 30px;
    margin:0px auto 10px;
    padding: 2px 15px;
    background-color: #058a27;
    border-radius: 20px;
    z-index: 1111111111111111111;
}

#avis-box{
    margin:10px auto;
    width:100%;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    color:#058a27;
outline: none;
border:solid #058a27 2px;
resize: none;
}
#container-input-avis{
    position: relative;
    width:100%;

}
#btn-submit{
    position: absolute;
    bottom: 20px;
    right: 10px;
    color:white;
    outline: none;
    border:none;
    background-color:#a8e063;
    background-color:  linear-gradient(to right, #a8e063, #56ab2f);
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 20px;
}



#banner-small{
    margin: -40px auto !important; 
}
#container-slider-offre{
display: block;
}
#container-offre .container{
    display: block;

}
#grid-box h1{
    font-size: 20px;

}

    #bottom-content-offre{
    height: 100px;
    width: 100%;
    position: relative;
    margin:5px auto -30px;
    
    }    }
